/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3列に並べる */
  gap: 16px; /* カード間の隙間 */
}
.card {
  border: 1px solid ;
  padding: 16px;
  background-color: #fff;
}
.content{
  text-align: start;
}
th{
  text-align: start;
}

.shows {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title-card {
  display: grid;
  grid-template-columns: 1fr 6fr;
  padding: 10px;
  margin: 10px;
  background-color: azure;
  text-align: center
}

.description{
  background-color: azure;
  padding: 10px;
  margin: 10px;
}

.schedule-head {
  background-color: azure;
  padding: 10px;
  margin: 10px;
  text-align: center;
}